@using Abby.Utility
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]  TommyClap Foods </title>
    <link rel="icon" href="~/images/favicon.png" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AbbyWeb.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light  border-bottom box-shadow mb-3">
            <div class="container">
                 <a class="navbar-brand" asp-page="/Index">
                    <img src="~/images/favicon.png"  alt="" width="50" height="44">
                 </a>
                   <a class="navbar-brand" asp-area="" asp-page="/Index">TommyClap Foods </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        @if (User.IsInRole(SD.ManagerRole) || User.IsInRole(SD.FrontDeskRole))
                        {
                             <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Admin/Order/OrderList">Order List</a>
                        </li>
                        }
                        @if (User.IsInRole(SD.ManagerRole) || User.IsInRole(SD.KitchenRole))
                        {
                               <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Admin/Order/ManageOrder">Manage Order</a>
                        </li>
                        }
                       @if(User.IsInRole(SD.ManagerRole)){
                             <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Admin
                          </a>
                          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item"  asp-page="/Admin/Categories/Index">Categories</a></li>
                            <li><a class="dropdown-item"  asp-page="/Admin/FoodTypes/Index" >Food Types</a></li>
                           <li><a class="dropdown-item"  asp-page="/Admin/MenuItems/Index" >Menu Items</a></li>
                           <hr>
                            <li><a class="dropdown-item "  asp-area="Identity"  asp-page="/Account/Register" >Register Employee</a></li>
                           
                          </ul>
                        </li>
                       }
                     
                         <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Customer/Cart/Index">
                                @await Component.InvokeAsync("ShoppingCart")
                            </a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial"/>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-lg">
        <main role="main" class="pb-3 w-100">
            <partial name="_Notification"/>
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - TommyClap Foods - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.tiny.cloud/1/6qhq0231eaqy923m6qrcc9y7padwvj1xa2wy9ugpbgftzp6o/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>